<section class="latest-episodes">
  <h2>Other Recent Episodes</h2>
  {% assign episodes = site.episodes | sort: 'date' | reverse %}
  {% assign now = 'now' | date: '%s' | timezone: 'America/New_York' %}
  {% assign episode_count = 0 %}
  {% assign skipped = false %}

  {% for episode in episodes %}
    {% assign release_time = episode.date | date: '%Y-%m-%d ' | append: '03:14:00' | date: '%s' | timezone: 'America/New_York' %}
    {% if now >= release_time %}
      {% if skipped == false %}
        {% assign skipped = true %}
        {% continue %}
      {% endif %}

      <div class="latest-episode-card">
          <h3>{{ episode.title }}</h3>
          <div class="episodes-excerpt">{{ episode.excerpt }}</div>
          <div class="latest-episode-actions">
              <a href="{{ episode.url }}" class="latest-listen-button">Listen Now</a>
          </div>
      </div>
      {% assign episode_count = episode_count | plus: 1 %}
      {% if episode_count == 2 %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
</section>
